* {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1250px){
    .flex-container, div .topright, .spes, .liten, footer .nyhetsbrev, div .sok{
        display: none;
    }
}
@media screen and (min-width: 1250px){
    .menu{
        display: none;
    }
}
@media screen and (max-width: 1250px){
    .menu{
        display: block;
        float: right;
    }
} 
@media screen and (max-width: 590px){
    .push h1{
        font-size: 18px;
    }
} 
@media screen and (max-width: 1250px){
        .mk{
        flex-direction: column;
        }
}
@media screen and (max-width: 480px){
        button{
            padding: 0.3750em 1em !important;
        }
}
header{
    background-image: url("/images/pexels-gabriela-palai-395242.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.forside{
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 100%;
    padding-left: 5px;
    width: 274px;
}
.forsidebilde{
    overflow: hidden;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.flex-container > li {
    padding-top: 57px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
    flex-shrink: 3;
}
.firstbilde{
    object-fit: cover;
}
.top{
    flex-direction: column;
    width: 250px;
}
.topright{ 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    width: 100%;
    flex-shrink: 2;
}
li a{
    text-decoration: none;
    width: 100px;
    display: inline-block; 
    color: black; 
    padding: 2px 5px; 
    text-align: center
}
li a:hover {  
    color: #137FAD;
}
.nyheterhead, .mennhead, .kvinnerhead{
    font: normal normal bold normal 24px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;
}
.about, .kontakt{
    font: normal normal bold normal 14px/1.5 Noto Sans SC, sans-serif;
    text-transform: uppercase;   
}
#searchbox {
    display: none;
    background-color: #9CE1FF;
    border: 1px solid black;
    font-size: 12pt;
    font-weight: 100;
    margin-top: 60px;
    margin-right: 10px;
    padding: .25em .75em;
    text-align: left;
    border-radius: 28px;
}
input#search{
    display: none;
}
input#search:checked ~ #searchbox{
    display: block;
    position: absolute;
    top: 5px;
    width: 220px;
}
.flex-column{
    flex: 1;
}
.topicon{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 10px;
}
.toprightall{
    width: 250px;
    float: right;
}
.accounticon, .searchicon, .shoppingicon{
    filter: invert(34%) sepia(84%) saturate(723%) hue-rotate(159deg) brightness(99%) contrast(88%);
    width: 34px; height: 34px;
}
nav.hamburger {
    display: none;
}
input#hamburger-menu {
    display: none;
}
input#hamburger-menu:checked ~ nav.hamburger {
    display: block;  
}
label[for=hamburger-menu] { 
    font-size: 2em;
}
nav.hamburger ul { 
    list-style-type: none;
    display: inline-block; 
    padding: 0;
    margin: 0;
    width: 195px;
}
nav.hamburger li {     
    margin-bottom: 3px;
}
nav.hamburger li a { 
    text-decoration: none; 
    color: black; 
    padding: 10px 7px;
    display: block; 
    text-align: center;
    width: 190px;
}
nav.hamburger li:last-child {
    margin-bottom: 0;
}
nav.hamburger li a:hover {
    color: white; 
    background: black;  
}
.menu ul{
    position: absolute;
    top: 40px;
    right: 2%;
}
.push{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
}
h1{
    font: normal normal bold normal 2em/1.5 Noto Sans SC, sans-serif; 
    color: black;
    min-width: 240px;
}
button{
    text-decoration: none;
    background-color: #B07A3C;
    border: none;
    margin: auto;
    color: white;
    padding: 0.3750em 1em;
    text-align: center;
    display: inline-block;
    font: normal normal bold normal 2em/1.5 Noto Sans JP, sans-serif;
    border-radius: 63px;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: inherit;
}
button:hover{
    background-color: #FA9E34;
}
.mennside img, .kvinnerside img{
    max-width: 476px; max-height: 634px;
    width: 100vw;
}
.mk{
    display: flex;
    margin-top: 70px;
    justify-content: space-around;
}
.mennside, .kvinnerside{
    position: relative;
    text-align: center;
}
.mennknapp, .kvinnerknapp{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-spes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 100px 0 100px 0;
    justify-content: space-around;
}
.grid-spes h2{
    grid-column-start: 1;
    grid-column-end: 5;
    font: normal normal normal normal 1.65vw/1.5 Noto Sans JP, sans-serif;
}
.grid-spes img{
    width: 305px; height: 385px;
    border: 0px;
    padding: 0px;
    column-gap: 0px;
}
.grid-spes p{
    text-align: left;
}
.info{
    font: normal normal normal normal 1.15vw/1.5 Noto Sans JP, sans-serif;
}
.infogrey{
    font: normal normal normal normal 1vw/1.5 Noto Sans JP, sans-serif;
    color: #828282;
}
hr{
    height: 3px;
    background-color: #9CE1FF;
    border: none;
}
.nyhetsbrev{
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 84px;
}
.nyhetsbrev h2{
    font: normal normal bold normal 1.5rem/1.5 Noto Sans SC, sans-serif;
}
.nyhetsbrev p{
    font: normal normal normal normal 1.2rem/1.5 Noto Sans JP, sans-serif;
}
#mail{
    max-width: 370px;
    height: 45px;
}
.knapp{
    padding: 1px 1px;
    font: normal normal bold normal 1.5vw/1.5 Noto Sans JP, sans-serif;
    width: 8vw;
    margin: 0;
}
a{
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}
.footerinfo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #137FAD;
    padding: 20px 0 0 62px;
}
.border{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
}
.ikonbot{
    display: block;
    float: right;
    font-size: 1.3rem;
}
.footerinfo h2:hover{
    color: black;
}
.pushom h2, form h2{
    font: normal normal normal normal 1.75rem/1.5 Noto Sans SC, sans-serif;
}
.om p{
    font: normal normal normal normal 1.2rem/1.5 Noto Sans JP, sans-serif;
    padding: 20px 0 20px 20px;
    max-width: 352px;
}
.om h1{
    padding: 20px 0 35px 20px;
}
.pushom, .kon{
    text-align: center;
}
.profil{
    border: 1px solid #34BFFA;
    width: 400px;
    font: normal normal normal normal 1.2rem/1.5 Noto Sans JP, sans-serif;
    color: #767676;
    padding-left: 10px;
    margin-bottom: 10%;
}
#aboutimg{
    width: 600px;
    max-height: 400px;
    object-fit: cover;
    padding: 70px 0 30px 0;
    text-align: center;
    
}
@media screen and (max-width: 880px){
    #aboutimg{
        display: none;
    }
}
.om{
    display: grid;
    grid-template-columns: auto auto;
}
input[type=text], input[type=password], input[type=email], input[type=tel], textarea{
    width: 100%;
    border: 1px solid #34BFFA;
    border-radius: 2px;
    padding: 20px;
    box-sizing: border-box;
    resize: vertical;
    margin: 5px 0 20px 0;
    font: normal normal bold normal 1em/1.5 Noto Sans JP, sans-serif;
}
input[type=submit]{
    cursor: pointer;
    background-color: #B07A3C;
    border: none;
    margin: auto;
    color: white;
    padding: 0.3750em 1em;
    text-align: center;
    display: inline-block;
    font: normal normal normal normal 2em/1.5 Noto Sans JP, sans-serif;
    border-radius: 63px;
}
input[type=submit]:hover{
    background-color: #FA9E34;
}
.formkontakt{
    padding: 20px;
    max-width: 500px;
}
.login{
    padding: 50px;
    border: 1px solid #34BFFA;
    max-width: 400px;
}
.loginknapp{
    cursor: pointer;
    background-color: #B07A3C;
    color: white;
    padding: 0.3750em 1em;
    text-align: center;
    display: inline-block;
    font: normal normal normal normal 2em/1.5 Noto Sans JP, sans-serif;
    border-radius: 63px;
}
.loginknapp:hover{
    background-color: #FA9E34;
}
/*Endre alle buttons til custom link*/
/*Mer detaljert meta description og searchbar + meny*/
.regis:hover{
    text-decoration: underline;
}
.logknapp{
    text-align: center;
}
.infonyhet, .infotxt, .prodtxt h2{
    font: normal normal normal normal 1.8rem/1.5 Noto Sans JP, sans-serif;
}
.infogreynyhet, .infogreytxt{
    font: normal normal normal normal 1.2rem/1.5 Noto Sans JP, sans-serif;
    color: #828282;
}
.produktbilder{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.pb{
    object-fit: cover; 
    width: 100%;
    max-width: 650px; 
    max-height: 500px; 
    min-height: 500px; 
    padding-top: 20px;
}
@media screen and (max-width: 1300px){
    .pb{
        max-width: 450px;
        min-width: 350px;
        max-height: 300px;
        min-height: 300px;
    }
}
@media screen and (max-width: 900px){
    .pb{
        max-width: 300px;
        min-width: 150px;
        max-height: 250px;
        min-height: 250px;
    }
}
@media screen and (max-width: 600px){
    .pb{
        max-width: 150px;
        min-width: 100px;
        max-height: 200px;
        min-height: 200px;
        border-radius: 5px;
    }
}
.loginbox{
    display: flex;
    justify-content: space-around;
}
input[type=radio]{
    appearance: none;
    -webkit-appearance: none;
}
input[type=radio]#s{
    content: url(./images/icons/icons8-circled-s-100-2.svg);
    height: 40px;
    width: 40px;
}
input[type=radio]#s:checked{
    content: url(./images/icons/icons8-circled-s-100.svg);
    height: 40px;
    width: 40px;
}
input[type=radio]#m{
    content: url(./images/icons/icons8-circled-m-100.svg);
    height: 40px;
    width: 40px;
}
input[type=radio]#m:checked{
    content: url(./images/icons/icons8-circled-m-100-2.svg);
    height: 40px;
    width: 40px;
}
input[type=radio]#l{
    content: url(./images/icons/icons8-circled-l-100-2.svg);
    height: 40px;
    width: 40px;
}
input[type=radio]#l:checked{
    content: url(./images/icons/icons8-circled-l-100.svg);
    height: 40px;
    width: 40px;
}
.cartprod{
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 20px;
}
.prodtxt1{
    padding-left: 20px;
    width: 100%;
    min-width: 200px;
}
.sammendragp, .checkoutp, .leveringp{
    font: normal normal normal normal 1.2rem/2 Noto Sans JP, sans-serif;
    padding: 30px 0 0 20px;
}
.sammendrag{
    display: flex;
    flex-direction: row;
}
.floatright{
    text-align: end;
    width: 100%;
    padding-right: 20px;
}
.checkoutmid{
    padding: 50px 50px 50px 20px;
    max-width: 400px;
}
input[type=radio]#hjemlev{
    content: url(./images/icons/hjemlevering1.svg);
}
input[type=radio]#hjemlev:checked{
    content: url(./images/icons/hjemlevering2.svg);
}
input[type=radio]#hente{
    content: url(./images/icons/hente1.svg);
}
input[type=radio]#hente:checked{
    content: url(./images/icons/hente2.svg);
}